<!DOCTYPE html>
<html>

<head>
    <title>geoJSON geoconverter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body,
        html {
            height: 100%;
        }

        .btn-primary {
            color: #fff;
            background-color: #00afaa;
            border-color: #00afaa;
        }
    </style>
</head>

<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form action="{{ url_for('download_geojson') }}" method="post" enctype="multipart/form-data" class="col-12">
                <legend>
                    <h3 style="padding-bottom:50px">Geoconverter
                        <small>create geoJSON from delimited files</small>
                    </h3>
                </legend>
                <div class="form-group">
                    <input type="button" class="btn btn-primary bg-info text-white form-control" value="back to upload" onclick="location.href = '{{ url_for('upload_file') }}';">
                </div>
                <iframe src="{{ url_for('map_viewer') }}" width="100%" height="400"></iframe>
                <div class="form-group">  
                    <input type="button" class="btn btn-primary bg-info text-white form-control" value="download" onclick="location.href = '{{ url_for('download_geojson') }}';">
                </div>
            </form>
        </div>
    </div>
</body>

</html>