<!DOCTYPE html>
<html>
<head>
    <title>shopstekt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body,
        html {height:100%; }
        .btn-primary {color: #fff;
                      background-color: #00afaa;
                      border-color: #00afaa;}
    </style>
</head>
<body>
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data" class="col-12">
                    <legend>
                        <h3 style="padding-bottom:50px">shopstekt
                            <small>get store adresses around a given lat/lon or adress</small>
                        </h3>
                    </legend>
                <div class="form-group">
                    <input type="text" name="adress" placeholder="Mustermannstr. 9, 10117 Berlin" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="lon" placeholder="longitude / x e.g. 13.358021" class="form-control">
                    <input type="text" name="lat" placeholder="latitude / y e.g. 52.4497577" class="form-control">
                </div>
                    {% if error %}
                    <p><strong>Error:</strong> {{ error }}
                    <div class="form-group">
                        <input type="submit" value=clear class="btn btn-primary bg-info text-white form-control">
                    </div>
                    {% endif %}
                <div class="form-group">
                    <input type="submit" value=submit class="btn btn-primary bg-info text-white form-control">
                </div>
                
            </form>
        </div>
    </div>
</body>
</html>